<form (ngSubmit)="saveTask()" #taskForm="ngForm">
    <div>
      <label for="title">Titre :</label>
      <input
        id="title"
        name="title"
        [(ngModel)]="task.title"
        required
        placeholder="Entrez le titre de la tâche"
      />
    </div>
  
 
  
    <div>
      <label for="status">Statut :</label>
      <select id="status" name="status" [(ngModel)]="task.status">
        <option value="À faire">À faire</option>
        <option value="En cours">En cours</option>
        <option value="Terminé">Terminé</option>
      </select>
    </div>
  
    <div>
      <label for="priority">Priorité :</label>
      <input
        id="priority"
        name="priority"
        [(ngModel)]="task.priority"
        placeholder="Entrez la priorité"
      />
    </div>
  
    <div>
      <label for="due_date">Date Limite :</label>
      <input
        type="date"
        id="due_date"
        name="due_date"
        [(ngModel)]="task.due_date"
      />
    </div>
  
    <div>
      <label for="estimated_time">Temps Estimé :</label>
      <input
        id="estimated_time"
        name="estimated_time"
        [(ngModel)]="task.estimated_time"
        placeholder="Entrez le temps estimé"
      />
    </div>
  
    <div>
      <label for="category">Catégorie :</label>
      <input
        id="category"
        name="category"
        [(ngModel)]="task.category"
        placeholder="Entrez la catégorie"
      />
    </div>
  
    <div>
      <label for="assigned_to">Assigné à :</label>
      <input
        id="assigned_to"
        name="assigned_to"
        [(ngModel)]="task.assigned_to"
        placeholder="Entrez le nom de la personne assignée"
      />
    </div>
  
    <div>
      <label for="tags">Tags :</label>
      <input
        id="tags"
        name="tags"
        [(ngModel)]="task.tags"
        placeholder="Entrez des tags séparés par des virgules"
      />
    </div>
  
    <div>
      <label for="comments">Commentaires :</label>
      <textarea
        id="comments"
        name="comments"
        [(ngModel)]="task.comments"
        placeholder="Entrez des commentaires"
      ></textarea>
    </div>
  
    <button type="submit" [disabled]="!taskForm.form.valid">Enregistrer</button>
    <button type="button" (click)="resetForm()">Réinitialiser</button>
    <button type="button" mat-raised-button color="primary" [routerLink]="'/task-list'">
        Aller à la liste des tâches
      </button>
  </form>
  