
  /* Conteneur des lignes */
.form-row {
  display: flex;
  gap: 40px; /* Espacement entre les champs */
 width: 60%;
  margin-bottom: 16px;
  align-items: center;
  margin-left: 11%; /* Espacement entre les lignes */
}

/* Champs qui prennent la moitié de la largeur */
mat-form-field {
  flex: 0.5;
}
mat-form-field {
  width: 60%;

 
}

/* Alignement des boutons */
.button-group {
  display: flex;
  gap: 34%;
  margin-left: 190PX;
 
}

button[mat-raised-button] {
  padding: 10px 90px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}
h1{
  margin-left: 30%;
  margin-bottom: 50px;
  
}
/* Conteneur des lignes */

/* Champs de saisie - focus */
mat-form-field.mat-focused .mat-form-field-label {
  color: #1976d2;
}


/* Ajouter un effet visuel sur les champs de saisie au focus */
mat-form-field input:focus,
mat-form-field textarea:focus,
mat-form-field mat-select:focus {
  border-color: #1976d2;
}

/* Améliorer la visibilité des placeholders */
mat-form-field input::placeholder,
mat-form-field textarea::placeholder {
  color: #757575;
  
}
