<mat-toolbar color="Primary ">
  <!-- Bouton pour ouvrir le menu latéral -->
  <button
    mat-icon-button
    aria-label="Toggle sidenav"
    (click)="drawer.toggle()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  
  <h1 style="color: black;font-weight: bold;">Planify</h1>
  
  
</mat-toolbar>

<mat-drawer-container class="example-container" autosize>
  <!-- Menu latéral -->
  <mat-drawer #drawer class="example-sidenav" mode="side"  [opened]="true">
    <mat-list-item>
      <a mat-button routerLink="/first" routerLinkActive="active">
        <mat-icon>add</mat-icon> Ajouter une tâche
      </a>
      <a mat-button routerLink="/list" routerLinkActive="active">
        <mat-icon>list</mat-icon>
        Liste des tâches
      </a>
      
    </mat-list-item>
    
  
  </mat-drawer>

  <div class="example-sidenav-content">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
