
    <h2>Liste des Tâches</h2>
  
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
  
    <mat-table [dataSource]="tasks" class="mat-elevation-z8">
      <!-- Colonne Titre -->
      <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef> Titre </mat-header-cell>
        <mat-cell *matCellDef="let task"> {{ task.title }} </mat-cell>
      </ng-container>
  
      <!-- Colonne Description -->
      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
        <mat-cell *matCellDef="let task"> {{ task.description }} </mat-cell>
      </ng-container>
  
      <!-- Colonne Statut -->
      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef> Statut </mat-header-cell>
        <mat-cell *matCellDef="let task"> {{ task.status }} </mat-cell>
      </ng-container>
  
      <!-- Colonne Priorité -->
      <ng-container matColumnDef="priority">
        <mat-header-cell *matHeaderCellDef> Priorité </mat-header-cell>
        <mat-cell *matCellDef="let task"> {{ task.priority }} </mat-cell>
      </ng-container>
  
      <!-- Colonne Date Limite -->
      <ng-container matColumnDef="due_date">
        <mat-header-cell *matHeaderCellDef> Date Limite </mat-header-cell>
        <mat-cell *matCellDef="let task"> {{ task.due_date | date: 'dd/MM/yyyy' }} </mat-cell>
      </ng-container>
  
      <!-- Colonne Actions -->
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
        <mat-cell *matCellDef="let task">
          <button mat-raised-button color="warn" (click)="deleteTask(task.id)">
            Supprimer
          </button>
          <button mat-raised-button color="primary" (click)="editTask(task.id)">
            Modifier
          </button>
        </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  
    <p *ngIf="tasks.length === 0">Aucune tâche trouvée.</p>

  